
<h1>{{ class_name }} 선생님 페이지</h1>
<a href="/teacher/logout">[ 로그아웃 ]</a>
<form method="POST">
    주 시작일: <input type="text" name="week_start_date" placeholder="2024-05-13"><br><br>
    {% for day in ["월", "화", "수", "목", "금"] %}
    {{ day }}: <input type="text" name="{{ day }}"><br>
    {% endfor %}
    <br>
    <button type="submit">저장</button>
</form>
<h2>기존 데이터</h2>
<ul>
    {% for week_start_date, day, content in schedules %}
    <li>{{ week_start_date }} / {{ day }}: {{ content }}</li>
    {% endfor %}
</ul>
